[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/basejumpa
[access "refs/for/refs/*"]
	read = group user/basejumpa
	push = group user/basejumpa
	label-Code-Review = -2..+2 group user/basejumpa
	label-Verified = -1..+1 group user/basejumpa
	rebase = group user/basejumpa
	removeReviewer = group user/basejumpa
	submit = group user/basejumpa
[access "refs/heads/*"]
	read = group user/basejumpa
	create = group user/basejumpa
	push = +force group user/basejumpa
	pushMerge = group user/basejumpa
[access "refs/tags/*"]
	push = +force group user/basejumpa
	pushTag = group user/basejumpa
	pushSignedTag = group user/basejumpa
